.cell{
    width: 150px;
    border-bottom : 1px solid #6d6767;
}

.btn{
    margin-top:15px;
    width:100px;
    height:30px;
    background-color: #d85d5d;
    color:white;
    border:none;
    border-radius:8px;
}

.btn:hover{
    background-color: #aa0f0f;
}