/* --------------------------------------------------------------- */ 
/*             		   	 Styles          	    	   */ 
/* --------------------------------------------------------------- */ 
/*                 Codes par : 			                  */ 
/*            Steven DUDA / n� de t�l. 06 63 10 33 21              */ 
/*           		 steven.duda@wanadoo.fr		           */ 
/* --------------------------------------------------------------- */ 

/* BODY - Font principal */ 
body { font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}

a:hover { font-decoration: none;text-decoration:none }
a:link { font-decoration: none;text-decoration:none }
a:visited { font-decoration: none;text-decoration:none }

H1 { color: #A13926; font-weight: bolder; font-size: 16pt; font-decoration: none;vertical-align:text-bottom; letter-spacing: 1;text-decoration:none }

/* Texte par d�faut */ 
.Texte_default { font-weight: normal; font-size: 12pt; color: #252525; letter-spacing: normal}

/* Texte par d�faut Gras */ 
.Texte_defaultGras { font-weight: bolder; font-size: 12pt; color: #252525; letter-spacing: normal}

/* Texte note  8pt */ 
.Texte_note{ font-weight: normal; font-size: 9pt; color: #696969; letter-spacing: normal}

/* Titre */ 
.titre { font-weight: normal; font-size: 13pt; color: white; letter-spacing: normal}

/* Titre */ 
.titreoffline { font-weight: normal; font-size: 13pt; color: #696969; letter-spacing: normal}

/* Titre des pages admin */ 
.titre_admin { font-weight: bolder; font-size: 14pt; color: #252525; letter-spacing: normal}


/* Titre */ 
.titreaccueil { font-weight: normal; font-size: 14pt; color: #252525; letter-spacing: normal}

/* Texte blanc Menu/Lien */ 
.Texte_menu { font-weight: normal; font-size: 12pt; color: white; letter-spacing: normal}


/* Message */ 
.message { font-weight: bolder; font-size: 12pt; color:  #252525; letter-spacing: normal}

/* Texte info  8pt (date.) */ 
.Texte_info8{ font-weight: normal; font-size: 8pt; color: #F5DCDC; letter-spacing: normal}

/* Texte info  10pt (lien,utilisateur/motde passe /etc.) */ 
.Texte_info10{ font-weight: normal; font-size: 10pt; color: #F5DCDC; letter-spacing: normal}

/* Texte info  12pt (utilisateur/motde passe /etc.) */ 
.Texte_info12{ font-weight: normal; font-size: 12pt; color: #F5DCDC; letter-spacing: normal}

/* List d'�l�ments */ 
.list{ font-weight: normal; font-size: 10pt; color: #252525; letter-spacing: normal}

/* Texte Conseil */ 
.conseil { font-weight: normal; font-size: 10pt; color: #252525; letter-spacing: normal}


div#soustitre {
	width:460px;
	height:100px;
	background-color:#E5E4DF;
	color:#252525;
	font: 12pt Arial;
	font-weight: bolder;
	padding: 10px;
	}

div#soustitre380 {
	width:320px;
	height:100px;
	background-color:#E5E4DF;
	color:#252525;
	font: 10pt Arial;
	font-weight: bolder;
	padding: 10px;
	}

.stbutton {
	width:200px;
	height:30px;
	background-color:#371111;
	color:white;
	font: 12pt Arial;
	padding: 0px;
	border-radius: 0px;
	border: 0px;
	cursor:pointer;
	}

.stbuttonImp {
	width:100px;
	height:26px;
	background-color:#371111;
	color:white;
	font: 12pt Arial;
	padding: 0px;
	border-radius: 0px;
	border: 0px;
	cursor:pointer;
	}

.stbuttonpublierST {
	width:90px;
	height:24px;
	background-color:#371111;
	color:white;
	font: 10pt Arial;
	padding: 0px;
	border-radius: 0px;
	border: 0px;
	cursor:pointer;
	}

/*+++++++++++Menu desplegable+++++++++++++++*/

ul, ol {
	list-style:none;
}

.nav > li  {
	float:left;

}

.nav li span{
	cursor: pointer;
}

.nav {
	padding-left: 15px;
}

.nav li a {
	background-color:#371111;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;

}

.nav li a:hover {
	background-color:#621d1d;

}

.nav li ul {
	display:none;
	position:absolute;
	min-width:90px;
	margin:0px;
	padding:0px;
}

.nav li:hover > ul {
	display:block;
}

.accept{
	background-color:#009419;
	color: #fff;
}

.reject{
background-color:#BB0101;
	color: #fff;
}

.boton{
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	display:inline-block;
	color: #FFF;
	background: #7F8C8D;
	padding: 6px 30px;
	white-space: nowrap;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 5px;
	-webkit-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.azul{
	background: #3498DB;
	border: 1px solid #2980B9;
}

.azul:hover{
	background: #39a0e5;
}

.verde{
	background: #2ECC71;
	border: 1px solid #27AE60;
}

.verde:hover{
	background: #32db78;
}

.rojo{
	background: #E74C3C;
	border: 1px solid #C0392B;
}

.rojo:hover{
	background: #ff5242;
}

.text_original{
	background-color: #BBBBBB;
	padding: 5px;
}

#value1_tbl[style]{
	width: 450px !important;
	height: 800px !important;
}

#value1_ifr[style]{
	width: 100% !important;
	height:100% !important;
}

textarea{
	resize: none;
}

.matextarea{
	resize: none;
	font-family: Arial,verdana;
}

.mycontent{
	padding: 20px;
}

.mytext{
	margin: 5px;
	padding-top: 33px;
}